RewriteEngine On

# Block direct access to dotfiles
RewriteRule ^\. - [F,L]

# Send everything that isn't a real file/dir to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
